/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        HRML: HRML {
            compatible = "zmk,behavior-hold-tap";
            label = "HRML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            hold-while-undecided;
            tapping-term-ms = <200>;
            hold-trigger-key-positions = <39 40 30 18 7 6 19 31 32 20 8 9 33 21 22 22 34 10 11 23 35 41>;
            hold-trigger-on-release;
        };

        HRMR: HRMR {
            compatible = "zmk,behavior-hold-tap";
            label = "HRMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            hold-while-undecided;
            tapping-term-ms = <200>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&trans  &kp Q  &kp W             &kp E              &kp R          &kp T             &kp Y      &kp U          &kp I          &kp O         &kp P          &trans
&trans  &kp A  &HRML LEFT_ALT S  &HRML LEFT_META D  &HRML LCTRL F  &kp G             &kp H      &HRMR RCTRL J  &HRMR RMETA K  &HRMR RALT L  &kp BACKSPACE  &kp ENTER
&trans  &kp Z  &kp X             &kp C              &kp V          &kp B             &kp N      &kp M          &kp COMMA      &kp DOT       &kp ENTER      &trans
                                 &trans             &lt 2 TAB      &kp LEFT_SHIFT    &kp SPACE  &lt 1 ESCAPE   &mo 3
            >;
        };

        right_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&trans  &kp N1   &kp N2        &kp N3      &kp N4           &kp N5    &kp N6    &kp N7         &kp N8       &kp N9     &kp N0  &trans
&trans  &kp DEL  &kp CAPSLOCK  &kp INSERT  &kp PRINTSCREEN  &trans    &kp LEFT  &kp DOWN       &kp UP       &kp RIGHT  &trans  &trans
&trans  &trans   &trans        &trans      &trans           &trans    &kp HOME  &kp PAGE_DOWN  &kp PAGE_UP  &kp END    &trans  &trans
                               &trans      &trans           &trans    &trans    &trans         &trans
            >;
        };

        left_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&trans  &kp EXCL           &kp AT           &kp HASH           &kp DLLR              &kp PRCNT    &kp CARET      &kp AMPS   &kp KP_MULTIPLY  &kp GRAVE  &kp TILDE     &trans
&trans  &kp DOUBLE_QUOTES  &kp LEFT_BRACE   &kp LEFT_BRACKET   &kp LEFT_PARENTHESIS  &trans       &kp SLASH      &kp MINUS  &kp EQUAL        &kp COLON  &kp SEMI      &trans
&trans  &kp SINGLE_QUOTE   &kp RIGHT_BRACE  &kp RIGHT_BRACKET  &kp RPAR              &trans       &kp BACKSLASH  &kp UNDER  &kp PLUS         &kp PIPE   &kp QUESTION  &trans
                                            &trans             &trans                &trans       &trans         &trans     &trans
            >;
        };

        func {
            bindings = <
&bt BT_CLR  &kp F1  &kp F2        &kp F3        &kp F4        &kp F5     &trans  &trans  &trans  &trans  &trans  &trans
&trans      &kp F7  &kp F8        &kp F9        &kp F10       &kp F11    &trans  &trans  &trans  &trans  &trans  &trans
&trans      &trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &kp F12    &trans  &trans  &trans  &trans  &trans  &trans
                                  &trans        &trans        &trans     &trans  &trans  &trans
            >;
        };
    };
};
